In [23]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import pymysql as mysql
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
import os 
import csv

In [82]:

# dbcon = mysql.connect(
#     host = "localhost", 
#     user="root", 
#     password="newpassword", 
#     db = "reviewsdb"
# )
# cursor = dbcon.cursor()
# df = pd.read_csv('Hotel_Reviews.csv')
# Table = (f'''create table if not exists `hotel_reviews`(    
#     ID int primary key auto_increment,
#     Hotel_Address varchar(250),
#     Additional_Number_of_Scoring int(20),
#     Review_Date int(20),
#     Average_Score float(10),
#     Hotel_Name varchar(50),
#     Reviewer_Nationality varchar(50),
#     Negative_Review BLOB,
#     Review_Total_Negative_Word_Counts int(20),
#     Total_Number_of_Reviews int(20),
#     Positive_Review BLOB, 
#     Review_Total_Positive_Word_Counts int(20),
#     Total_Number_of_Reviews_Reviewer_Has_Given int(20),
#     Reviewer_Score float(10),
#     Tags varchar(250),
#     days_since_review int(20),
#     lat float(10),
#     lng float(10));
#     ''')

# dbcon.commit()
query = f"""insert into `hotel_reviews`(ID, Hotel_Address, Additional_Number_of_Scoring, Review_Date, Average_Score, Hotel_Name, Reviewer_Nationality, Negative_Review, Review_Total_Negative_Word_Counts, Total_Number_of_Reviews, Positive_Review, Review_Total_Positive_Word_Counts, Total_Number_of_Reviews_Reviewer_Has_Given, Reviewer_Score, Tags, days_since_review, lat, lng) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
values = df[['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date', 'Average_Score', 'Hotel_Name', 'Reviewer_Nationality', 'Negative_Review', 'Review_Total_Negative_Word_Counts', 'Total_Number_of_Reviews', 'Positive_Review', 'Review_Total_Positive_Word_Counts', 'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags', 'days_since_review', 'lat', 'lng']].values.tolist()"""
cursor.execute(Table)
cursor.execute(query)
cursor.execute(values)
dbcon.commit()
#dbcon.close()
print("successful")
#cursor.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)\nvalues = df[['Hotel_Ad...' at line 1")

In [39]:
print(data)
data = [(row['Hotel_Address'], row['Additional_Number_of_Scoring'], row['Review_Date'], row['Average_Score'], row['Hotel_Name'], row['Reviewer_Nationality'], row['Negative_Review'], row['Review_Total_Negative_Word_Counts'], row['Total_Number_of_Reviews'], row['Positive_Review'], row['Review_Total_Positive_Word_Counts'], row['Total_Number_of_Reviews_Reviewer_Has_Given'], row['Reviewer_Score'], row['Tags'], row['days_since_review'], row['lat'], row['lng']) for row in reader]
with open(, 'r') as file:
    reader = csv.DictReader(file)Table# if cursor:
#     query = f"SELECT * FROM `hotel_reviews`"
#     result = pd.read_sql(query, dbcon)
#     print(result)
#     result.rename(columns = {"pdtname": "product_name"}, inplace = True )
#     result.to_excel("tutor.xlsx")
#     priceMean = (result["price"].mean())
#     priceStd = (result["price"].std())
#     cursor.close()
#     priceval = result["price"]
#     costval = result["pdcost"]
#     colors = ["blue", "orange", "black"]

#     plt.bar(priceval, costval, color = colors, label = f"production \n 22 \n 23") #linewidth = 3, marker = "o", markersize = 15, linestyle = "--")
#     plt.xlabel("priceval")
#     plt.ylabel("costval")
#     plt.title("Sales plot indicating price against production_cost")
#     plt.legend()
#     plt.show()
# else:
#     print("failed to connect")
    


# df = pd.read_csv('Hotel_Reviews.csv')
# print(df.info())

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [76]:
cursor.execute("select * from `hotel_reviews` limit 5;")
for row in cursor.fetchall():
    print(row)