In [60]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import pymysql as mysql
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
import os 
import csv
import sqlite3

In [56]:

# dbcon = mysql.connect(
#     host = "localhost", 
#     user="root", 
#     password="newpassword", 
#     db = "reviewsdb"
# )
# cursor = dbcon.cursor()
# df = pd.read_csv("Hotel_Reviews.csv")
# conn = sqlite3.connect("reviewsdb")
# df.to_sql("hotelreviews.sql", conn, if_exists="replace", index = False)
# print('ghgh')
# conn.close()


# Connect to your SQLite database (or create one)
# conn = sqlite3.connect("reviewsdb")
# cursor = conn.cursor()
# # Read the SQL file and execute it
# with open("reviewsdb", "r", encoding="ISO-8859-1", errors = "ignore") as f:
#     for line in f:
#         try:
#             cursor.execute(line)
#         except sqlite3.errors as e:
#             print("error: ", e, "on line: ", line)
#     #sql_script = f.read()

# #cursor = conn.cursor()
# #cursor.executescript(sql_script)  # Execute the SQL file

# conn.commit()  # Save changes
# conn.close()

# print("SQL file successfully loaded into the database!")



# Table = (f'''create table if not exists `hotel_reviews`(    
#     ID int primary key auto_increment,
#     Hotel_Address varchar(250),
#     Additional_Number_of_Scoring int(20),
#     Review_Date int(20),
#     Average_Score float(10),
#     Hotel_Name varchar(50),
#     Reviewer_Nationality varchar(50),
#     Negative_Review BLOB,
#     Review_Total_Negative_Word_Counts int(20),
#     Total_Number_of_Reviews int(20),
#     Positive_Review BLOB, 
#     Review_Total_Positive_Word_Counts int(20),
#     Total_Number_of_Reviews_Reviewer_Has_Given int(20),
#     Reviewer_Score float(10),
#     Tags varchar(250),
#     days_since_review int(20),
#     lat float(10),
#     lng float(10));
#     ''')

# dbcon.commit()
# query = f"""insert into `hotel_reviews`(ID, Hotel_Address, Additional_Number_of_Scoring, Review_Date, Average_Score, Hotel_Name, Reviewer_Nationality, Negative_Review, Review_Total_Negative_Word_Counts, Total_Number_of_Reviews, Positive_Review, Review_Total_Positive_Word_Counts, Total_Number_of_Reviews_Reviewer_Has_Given, Reviewer_Score, Tags, days_since_review, lat, lng) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
# values = df[['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date', 'Average_Score', 'Hotel_Name', 'Reviewer_Nationality', 'Negative_Review', 'Review_Total_Negative_Word_Counts', 'Total_Number_of_Reviews', 'Positive_Review', 'Review_Total_Positive_Word_Counts', 'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags', 'days_since_review', 'lat', 'lng']].values.tolist()"""
# cursor.execute(Table)
# cursor.execute(query)
# cursor.execute(values)
# conn.commit()
#dbcon.close()
# print("successful")
#cursor.close()

In [ ]:
# print(data)
# data = [(row['Hotel_Address'], row['Additional_Number_of_Scoring'], row['Review_Date'], row['Average_Score'], row['Hotel_Name'], row['Reviewer_Nationality'], row['Negative_Review'], row['Review_Total_Negative_Word_Counts'], row['Total_Number_of_Reviews'], row['Positive_Review'], row['Review_Total_Positive_Word_Counts'], row['Total_Number_of_Reviews_Reviewer_Has_Given'], row['Reviewer_Score'], row['Tags'], row['days_since_review'], row['lat'], row['lng']) for row in reader]
# with open(, 'r') as file:
#     reader = csv.DictReader(file)Table# if cursor:
#     query = f"SELECT * FROM `hotel_reviews`"
#     result = pd.read_sql(query, dbcon)
#     print(result)
#     result.rename(columns = {"pdtname": "product_name"}, inplace = True )
#     result.to_excel("tutor.xlsx")
#     priceMean = (result["price"].mean())
#     priceStd = (result["price"].std())
#     cursor.close()
#     priceval = result["price"]
#     costval = result["pdcost"]
#     colors = ["blue", "orange", "black"]

#     plt.bar(priceval, costval, color = colors, label = f"production \n 22 \n 23") #linewidth = 3, marker = "o", markersize = 15, linestyle = "--")
#     plt.xlabel("priceval")
#     plt.ylabel("costval")
#     plt.title("Sales plot indicating price against production_cost")
#     plt.legend()
#     plt.show()
# else:
#     print("failed to connect")
    


# df = pd.read_csv('Hotel_Reviews.csv')
# print(df.info())

In [61]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("reviewsdb")

df = pd.read_csv("Hotel_Reviews.csv", chunksize=1000)  # Load in smaller batches

for chunk in df:
    chunk.to_sql("hotelreviews", conn, if_exists="append", index=False)

conn.close()
print("CSV successfully loaded into SQLite!")

CSV successfully loaded into SQLite!

In [77]:
import sqlite3

conn = sqlite3.connect("reviewsdb")
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

conn.close()

OperationalError: view My_view already exists

In [75]:
cursor.execute("SELECT Reviews from Myview;")

In [8]:
import sqlite3

conn = sqlite3.connect("reviewsdb")  # Connect to the same database
cursor = conn.cursor()

cursor.execute("SELECT * FROM hotelreviews limit 5")  # Count total rows
rows = cursor. fetchall()
for row in rows:
    print(row)
#row_count = cursor.fetchone()[0]

#print(f"Total records in hotelreviews: {row_count}")
conn.close()

(' s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands', 194, '8/3/2017', 7.7, 'Hotel Arena', ' Russia ', ' I am so angry that i made this post available via all possible sites i use when planing my trips so no one will make the mistake of booking this place I made my booking via booking com We stayed for 6 nights in this hotel from 11 to 17 July Upon arrival we were placed in a small room on the 2nd floor of the hotel It turned out that this was not the room we booked I had specially reserved the 2 level duplex room so that we would have a big windows and high ceilings The room itself was ok if you don t mind the broken window that can not be closed hello rain and a mini fridge that contained some sort of a bio weapon at least i guessed so by the smell of it I intimately asked to change the room and after explaining 2 times that i booked a duplex btw it costs the same as a simple double but got way more volume due to the high ceiling was offered a room but only the next day SO i had to check out the next day before 11 o clock in order to get the room i waned to Not the best way to begin your holiday So we had to wait till 13 00 in order to check in my new room what a wonderful waist of my time The room 023 i got was just as i wanted to peaceful internal garden view big window We were tired from waiting the room so we placed our belongings and rushed to the city In the evening it turned out that there was a constant noise in the room i guess it was made by vibrating vent tubes or something it was constant and annoying as hell AND it did not stop even at 2 am making it hard to fall asleep for me and my wife I have an audio recording that i can not attach here but if you want i can send it via e mail The next day the technician came but was not able to determine the cause of the disturbing sound so i was offered to change the room once again the hotel was fully booked and they had only 1 room left the one that was smaller but seems newer ', 397, 1403, ' Only the park outside of the hotel was beautiful ', 11, 7, 2.9, "[' Leisure trip ', ' Couple ', ' Duplex Double Room ', ' Stayed 6 nights ']", '0 days', 52.3605759, 4.9159683)
(' s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands', 194, '8/3/2017', 7.7, 'Hotel Arena', ' Ireland ', 'No Negative', 0, 1403, ' No real complaints the hotel was great great location surroundings rooms amenities and service Two recommendations however firstly the staff upon check in are very confusing regarding deposit payments and the staff offer you upon checkout to refund your original payment and you can make a new one Bit confusing Secondly the on site restaurant is a bit lacking very well thought out and excellent quality food for anyone of a vegetarian or vegan background but even a wrap or toasted sandwich option would be great Aside from those minor minor things fantastic spot and will be back when i return to Amsterdam ', 105, 7, 7.5, "[' Leisure trip ', ' Couple ', ' Duplex Double Room ', ' Stayed 4 nights ']", '0 days', 52.3605759, 4.9159683)
(' s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands', 194, '7/31/2017', 7.7, 'Hotel Arena', ' Australia ', ' Rooms are nice but for elderly a bit difficult as most rooms are two story with narrow steps So ask for single level Inside the rooms are very very basic just tea coffee and boiler and no bar empty fridge ', 42, 1403, ' Location was good and staff were ok It is cute hotel the breakfast range is nice Will go back ', 21, 9, 7.1, "[' Leisure trip ', ' Family with young children ', ' Duplex Double Room ', ' Stayed 3 nights ', ' Submitted from a mobile device ']", '3 days', 52.3605759, 4.9159683)
(' s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands', 194, '7/31/2017', 7.7, 'Hotel Arena', ' United Kingdom ', ' My room was dirty and I was afraid to walk barefoot on the floor which looked as if it was not cleaned in weeks White furniture which looked nice in pictures was dirty too and the door looked like it was attacked by an angry dog My shower drain was clogged and the staff did not respond to my request to clean it On a day with heavy rainfall a pretty common occurrence in Amsterdam the roof in my room was leaking luckily not on the bed you could also see signs of earlier water damage I also saw insects running on the floor Overall the second floor of the property looked dirty and badly kept On top of all of this a repairman who came to fix something in a room next door at midnight was very noisy as were many of the guests I understand the challenges of running a hotel in an old building but this negligence is inconsistent with prices demanded by the hotel On the last night after I complained about water damage the night shift manager offered to move me to a different room but that offer came pretty late around midnight when I was already in bed and ready to sleep ', 210, 1403, ' Great location in nice surroundings the bar and restaurant are nice and have a lovely outdoor area The building also has quite some character ', 26, 1, 3.8, "[' Leisure trip ', ' Solo traveler ', ' Duplex Double Room ', ' Stayed 3 nights ']", '3 days', 52.3605759, 4.9159683)
(' s Gravesandestraat 55 Oost 1092 AA Amsterdam Netherlands', 194, '7/24/2017', 7.7, 'Hotel Arena', ' New Zealand ', ' You When I booked with your company on line you showed me pictures of a room I thought I was getting and paying for and then when we arrived that s room was booked and the staff told me we could only book the villa suite theough them directly Which was completely false advertising After being there we realised that you have grouped lots of rooms on the photos together leaving me the consumer confused and extreamly disgruntled especially as its my my wife s 40th birthday present Please make your website more clear through pricing and photos as again I didn t really know what I was paying for and how much it had wnded up being Your photos told me I was getting something I wasn t Not happy and won t be using you again ', 140, 1403, ' Amazing location and building Romantic setting ', 8, 3, 6.7, "[' Leisure trip ', ' Couple ', ' Suite ', ' Stayed 2 nights ', ' Submitted from a mobile device ']", '10 days', 52.3605759, 4.9159683)

In [76]:

conn = sqlite3.connect("reviewsdb")
df = pd.read_sql_query("SELECT Negative_Review, Positive_Review FROM hotelreviews LIMIT 10", conn)

conn.close()

print(df)

                                     Negative_Review  \
0   I am so angry that i made this post available...
1                                        No Negative
2   Rooms are nice but for elderly a bit difficul...
3   My room was dirty and I was afraid to walk ba...
4   You When I booked with your company on line y...
5   Backyard of the hotel is total mess shouldn t...
6   Cleaner did not change our sheet and duvet ev...
7   Apart from the price for the brekfast Everyth...
8   Even though the pictures show very clean room...
9   The aircondition makes so much noise and its ...

                                     Positive_Review
0   Only the park outside of the hotel was beauti...
1   No real complaints the hotel was great great ...
2   Location was good and staff were ok It is cut...
3   Great location in nice surroundings the bar a...
4    Amazing location and building Romantic setting
5   Good restaurant with modern design great chil...
6   The room is spacious and bright The hotel is ...
7   Good location Set in a lovely park friendly s...
8                                        No Positive
9   The room was big enough and the bed is good T...

In [24]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect("reviewsdb")

# Read the SQL query into a DataFrame
df = pd.read_sql_query("SELECT * FROM hotelreviews LIMIT 10", conn)

# Display the table
from IPython.display import display
display(df)

# Close the connection
conn.close()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
5,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,Poland,Backyard of the hotel is total mess shouldn t...,17,1403,Good restaurant with modern design great chil...,20,1,6.7,"[' Leisure trip ', ' Group ', ' Duplex Double ...",10 days,52.360576,4.915968
6,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Cleaner did not change our sheet and duvet ev...,33,1403,The room is spacious and bright The hotel is ...,18,6,4.6,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",17 days,52.360576,4.915968
7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Apart from the price for the brekfast Everyth...,11,1403,Good location Set in a lovely park friendly s...,19,1,10.0,"[' Leisure trip ', ' Couple ', ' Duplex Double...",17 days,52.360576,4.915968
8,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/9/2017,7.7,Hotel Arena,Belgium,Even though the pictures show very clean room...,34,1403,No Positive,0,3,6.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",25 days,52.360576,4.915968
9,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/8/2017,7.7,Hotel Arena,Norway,The aircondition makes so much noise and its ...,15,1403,The room was big enough and the bed is good T...,50,1,7.9,"[' Leisure trip ', ' Couple ', ' Large King Ro...",26 days,52.360576,4.915968

In [31]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect("reviewsdb")

# Load the data into a Pandas DataFrame
df = pd.read_sql_query("SELECT Negative_Review, Positive_Review FROM hotelreviews LIMIT 100000", conn)

# Drop duplicate rows (keep the first occurrence)
df.drop_duplicates(inplace=True)

# Save the cleaned data back to SQLite (replace the old table)
df.to_sql("hotelreviewz", conn, if_exists="replace", index=False)

print("Duplicates removed successfully!")

# Close the connection
conn.close()

Duplicates removed successfully!

In [32]:
conn = sqlite3.connect("reviewsdb")  # Connect to the same database
cursor = conn.cursor()
query = pd.read_sql_query("SELECT Negative_Review, Positive_Review FROM hotelreviews LIMIT 100000", conn)
cursor.close()
print(query)

                                         Negative_Review  \
0       I am so angry that i made this post available...
1                                            No Negative
2       Rooms are nice but for elderly a bit difficul...
3       My room was dirty and I was afraid to walk ba...
4       You When I booked with your company on line y...
...                                                  ...
99995                                            Weather
99996   Coffee ahop staff unprofessional 2 Roo s shou...
99997                    Nothing Everything was perfect
99998                                     No activities
99999                                            Nothing

                                         Positive_Review
0       Only the park outside of the hotel was beauti...
1       No real complaints the hotel was great great ...
2       Location was good and staff were ok It is cut...
3       Great location in nice surroundings the bar a...
4        Amazing location and building Romantic setting
...                                                  ...
99995                      Closeness to the Eiffel Tower
99996                                            Overall
99997   Everything was AMAZING The breakfast was EXCE...
99998                                         Breakfast
99999          Very polite staff and was willing to help

[100000 rows x 2 columns]

In [33]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# #Download stopwords
# nltk.download('stopwords')
# nltk.download('punkt')
# nltk.download('punkt_tab')
conn = sqlite3.connect("reviewsdb")
#Define preprocessing function
def preprocess_text(text):
        text = text.lower()  # Convert to lowercase
        text = re.sub(r'\W', ' ', text)  # Remove special characters
        text = re.sub(r'\s+', ' ', text)  # Remove extra spaces
        tokens = word_tokenize(text)  # Tokenize
        tokens = [word for word in tokens if word not in stopwords.words('english')]  # Remove stopwords
        return ' '.join(tokens)
   
# Apply preprocessing
gh = df["Negative_Review"].head(100000).apply(preprocess_text)

# Display cleaned reviews
#df[['hotelreviews']].head()
print(gh.head())

0    angry made post available via possible sites u...
1                                             negative
2    rooms nice elderly bit difficult rooms two sto...
3    room dirty afraid walk barefoot floor looked c...
4    booked company line showed pictures room thoug...
Name: Negative_Review, dtype: object

In [34]:
tk = df["Positive_Review"].head(100000).apply(preprocess_text)
print(tk.head())

0                         park outside hotel beautiful
1    real complaints hotel great great location sur...
2    location good staff ok cute hotel breakfast ra...
3    great location nice surroundings bar restauran...
4           amazing location building romantic setting
Name: Positive_Review, dtype: object

In [36]:
from nltk.corpus import stopwords

# Download stopwords if not already downloaded
#nltk.download('stopwords')

# Define function to remove stopwords
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    tokens = text.split()  # Assuming text is already tokenized
    filtered_text = " ".join([word for word in tokens if word not in stop_words])
    return filtered_text

# Apply stopword removal
jt = gh.apply(remove_stopwords)
print("success")

success

In [37]:
from nltk.corpus import stopwords

# Download stopwords if not already downloaded
#nltk.download('stopwords')

# Define function to remove stopwords
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    tokens = text.split()  # Assuming text is already tokenized
    filtered_text = " ".join([word for word in tokens if word not in stop_words])
    return filtered_text

# Apply stopword removal
kl = tk.apply(remove_stopwords)
print("success")

success

In [38]:
from nltk.stem import WordNetLemmatizer

# Download WordNet if not already downloaded
#nltk.download('wordnet')

# Initialize lemmatizer
lemmatizer = WordNetLemmatizer()

# Define function for lemmatization
def lemmatize_text(text):
    tokens = text.split()  # Assuming tokenized text
    lemmatized_text = " ".join([lemmatizer.lemmatize(word) for word in tokens])
    return lemmatized_text

# Apply lemmatization
hk = jt.apply(lemmatize_text)
sd = kl.apply(lemmatize_text)
print("success")

success

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=10000)  # Limit features for efficiency

# Transform text data into numerical form
X = tfidf_vectorizer.fit_transform(hk, sd)

# Convert to DataFrame for easy handling
X_df = pd.DataFrame(X.toarray(), columns=tfidf_vectorizer.get_feature_names_out())
print("Done")

Done

In [53]:
from sklearn.feature_extraction.text import CountVectorizer

# Initialize vectorizer
count_vectorizer = CountVectorizer(max_features=10000)

# Transform text data
X = count_vectorizer.fit_transform(hk, sd)

# Convert to DataFrame
X_df = pd.DataFrame(X.toarray(), columns=count_vectorizer.get_feature_names_out())
print("Done")

Done

In [54]:
print(X_df.head())

   00  000  001  003  004  005  006  007  008  00am  ...  zircon  zod  zoitan  \
0   1    0    0    0    0    0    0    0    0     0  ...       0    0       0
1   0    0    0    0    0    0    0    0    0     0  ...       0    0       0
2   0    0    0    0    0    0    0    0    0     0  ...       0    0       0
3   0    0    0    0    0    0    0    0    0     0  ...       0    0       0
4   0    0    0    0    0    0    0    0    0     0  ...       0    0       0

   zoltan  zombie  zone  zoo  zoomed  zparos  zzzz
0       0       0     0    0       0       0     0
1       0       0     0    0       0       0     0
2       0       0     0    0       0       0     0
3       0       0     0    0       0       0     0
4       0       0     0    0       0       0     0

[5 rows x 21244 columns]

In [49]:
# positive_words = ['good', 'great', 'excellent', 'amazing', 'wonderful', 'best', 'perfect', 'love']
# negative_words = ['bad', 'worst', 'terrible', 'awful', 'horrible', 'disappointing', 'poor']

# def label_sentiment(review):
#     #review = review.lower()  # Convert to lowercase
#     if any(word in review for word in positive_words):
#         return 1  # Positive
#     elif any(word in review for word in negative_words):
#         return 0  # Negative
#     else:
#         return None  # Neutral or Unknown

# # Apply function to create Sentiment column
# df = df.apply(label_sentiment)

# # Drop neutral reviews (optional)
# #df = df.dropna(subset=X)
# #X.astype(int)
# print(df)

In [ ]:
from sklearn.model_selection import train_test_split

# Assuming you have a 'Sentiment' column with 0 (negative) and 1 (positive) labels
y = df['Sentiment']  # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)